<h3>Artist Form</h3>
 
<%= form_tag artists_path do %>
  <label>Name:</label><br>
  <%= text_field_tag name= "artist[name]" %><br>
 
  <label>Bio:</label><br>
  <%= text_field_tag bio= "artist[bio]" %><br>
 
  <%= submit_tag "Create Artist" %>
<% end %>
